.App {
  display: flex;
  flex-direction: column; /* mode text, di jadikan column */
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100vh = 100% dari layar */
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 80%;
  overflow-y: scroll;
  /* overflow-y ini di gunakan, agar jika ada chat sekitar 20 an, tdk akan di tampilkan semuanya secara langsung
  tetapi bisa di overflow / di biarkan meluap ke atas sehingga bisa di scroll
   */
  padding: 10px;
  width: 99%; /* posisi jarak lebar di chat */
}

.user-message {
  background-color: #f2f2f2;
  color: black;
  align-self: flex-end;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  word-wrap: break-word;
}

.bot-message {
  background-color: #4caf50;
  color: white;
  align-self: flex-start;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  word-wrap: break-word;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid green;
  outline: none;
}

button {
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
